.chat-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  transition: all 0.2s linear;
  visibility: hidden;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.455);
}

/* OPEN/CLOSE MODAL */
.chat-show-modal {
  visibility: visible;
  z-index: 10;
}

.chat-modal-container {
  background: #fff;
  border-radius: 0.25rem;
  width: 90vw;
  height: 60vh;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  z-index: 1000;
}

.chat-modal-container .chat-type {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-height: calc(100vh - 150px); /* Adjust based on header height */
  overflow-y: auto;
}

.chat-type .content-image-chat-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-type .content-image-chat {
  display: flex;
  align-items: center;
  justify-self: start;
}

.content-image-chat img {
  cursor: pointer;
}

.chat-type .content-image-chat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.content-image-chat .content-chat {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  padding: 2px;
  margin-left: 10px;
  cursor: pointer;
}

.content-image-chat-space .chat-time span {
  color: #000000;
}

.content-image-chat .content-chat span {
  color: #000000;
}

.content-image-chat .content-chat .name {
  font-weight: bold;
  font-size: 15px;
}

.content-image-chat .content-chat .mychat {
  font-size: 13px;
  margin-top: 5px;
}

.chat-modal-container .private-chat-header {
  background-color: #131415;
  height: 30px;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.private-chat-header .head-chat {
  color: #ffd37d;
  font-weight: bold;
}

.chat-modal-container hr {
  width: 100%;
  background-color: #131415;
}

.chat-modal-container h2 {
  color: #131415;
}

.group-chat {
  visibility: hidden;
}

.show-group-chat {
  visibility: visible;
}

.private-chat {
  visibility: hidden;
}

.show-private-chat {
  visibility: visible;
}

.chat-modal-container .private-chat-header-message-space {
  display: flex;
  flex-direction: column;
  overflow-x: none;
  background-color: red;
  height: 100%;
}

.private-chat-header-message-space .message-container {
  background-color: green;
  height: 100%;
  overflow-y: scroll;
}

.private-chat-header-message-space .message-input {
  background-color: blue;
  height: 60px;
  z-index: 1;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.message-input input{
  height: 10%;
}

.chat-modal-container .private-chat-header-message {
  background-color: #131415;
  height: 30px;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}

.private-chat-header-message .head-chat-message {
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
}

.private-chat-header-message span {
  font-weight: bold;
  color: #ffd37d;
}

.head-chat-message .arrow {
  cursor: pointer;
  color: #ffd37d;
}

.head-chat-message img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
