.middle-container {
  width: 700px;
}

.middle-container .post-content {
  border-radius: 5px;
  background-color: #323539;
  padding: 20px;
}

.middle-container .img-input {
  display: flex;
}

.img-input img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.img-input button input {
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
}

.img-input button {
  width: 100%;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  text-align: left;
  color: #616d76;
  cursor: pointer;
}

.img-video {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.img-video div {
  display: flex;
  align-items: center;
  color: #ffd37d;
  padding: 5px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.img-video div:hover {
  background-color: #ffd37d;
  border-radius: 5px;
  color: #323539;
}

.img-video div span {
  margin-left: 10px;
}

.img-video div span:hover {
  margin-left: 10px;
  color: #323539;
}

@media (max-width: 768px) {
  .middle-container {
    width: 700px;
    padding-bottom: 30px;
  }
}

@media (max-width: 668px) {
  .middle-container {
    width: 600px;
  }
}

@media (max-width: 468px) {
  .middle-container {
    width: 400px;
  }
}
