.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: all 0.2s linear;
  visibility: hidden;
  z-index: -1;
}

/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}

.modal-container {
  background: #fff;
  border-radius: 0.25rem;
  width: 90vw;
  height: 60vh;
  max-width: 620px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.modal-container hr{
  margin-left: -15px;
  margin-right: -15px;
}

.header-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header-post h3{
  color: #323539;
}

.close-modal-btn {
  font-size: 1rem;
  background: transparent;
  border-color: transparent;
  color: black;
  cursor: pointer;
}

.profile-post{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.profile-post img{
  width: 50px;
  height: 50px;
}

.name-visibi{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  height: 50px;
}

.name-visibi button{
  padding: 5px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.name-visibi span{
  color: #323539;
  font-weight: bold;
}

/*.modal-container {
  background: #fff;
  border-radius: 0.25rem;
  width: 90vw;
  height: 60vh;
  max-width: 620px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}*/
