/* links */
.submenu {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 3.5rem;
  right: 2%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: 0.25rem;
  transition: all 0.3s linear;
}

.submenu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.submenu.show {
  display: block;
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-content span{
  padding: 10px;
  background-color: #323539;
  border-radius: 5px;
  cursor: pointer;
}
